* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  direction: ltr;
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none !important;
}
ul,
li {
  display: inline-block;
}
.header-list {
  padding: 1.7rem 0 0.7rem 8rem;
}
.header-list li {
  margin-right: 1rem;
  color: gray;
  font-size: 16px;
}
.logo {
  width: 70px;
  margin: 0.2rem 10rem;
  float: right;
}
.line {
  width: 83% !important;
  margin: 7px auto 0 auto;
}
.Left {
  transition: width 0.4s;
}
.left-part,
.right-part {
  box-shadow: rgba(165, 165, 171, 0.425) 0px 7px 29px 0px;
  margin: 1.2rem 0 1.4rem 0;
  border-radius: 8px;
  height: 95%;
  overflow: hidden;
}
.short-blue-line {
  margin: 0 auto;
  width: 4rem !important;
  border-top: 2.5px solid #0baedd;
}
.Image-box {
  overflow: hidden;
  margin: 1.5rem auto;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  box-shadow: rgba(0, 216, 255, 0.7) 0 0 29px 0;
}
.h4-name {
  text-align: center;
  margin-bottom: 0.5rem;
}
.list-panel {
  margin-top: 1rem;
  display: block !important;
}
.list-panel li {
  display: block;
  margin-bottom: 0.3rem;
}
.list-panel a {
  font-size: 18px;
  color: gray;
}
.list-panel a:hover {
  color: #0baedd;
}
.fa-fingerprint {
  padding-right: 8px;
  color: currentColor;
  padding-top: 2px;
}
.right-box {
  height: 85%;
  box-shadow: rgba(0, 216, 255, 0.7) 0 0 29px 0;
  margin: 3rem 6rem 3rem 6rem;
  border-radius: 8px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #0baedd; */
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0baedd;
}
.heading {
  text-align: center;
}
.right-box h2 {
  text-align: center;
  position: relative;
  display: inline-block;
  padding-top: 1rem;
  background-color: white;
  z-index: 10;
  padding: 1rem 1rem 0 1rem;
}
.big-blue-line {
  top: -27px;
  margin: 0 auto;
  width: 30vw !important;
  border-top: 3.5px solid #0baedd;
  position: relative;
}
#Education-box .big-blue-line {
  top: -27px;
}
.tab-content {
  height: 100%;
}
.nav-tabs .nav-link {
  border: unset !important;
  margin-bottom: -10px !important;
  width: 100%;
}
.nav-tabs .nav-link.active {
  color: #0baedd !important;
  border: unset !important;
}
.nav-tabs {
  border: unset !important;
}
.Text-box {
  padding: 1rem 4rem !important;
}
.Text-box p {
  margin-bottom: 1.5rem;
  display: inline;
  margin-left: 0.6rem;
}
.fa-square-check {
  color: #0baedd;
}
#Personal-box .right-box,
#Awards-box .right-box,
#Skills-box .right-box,
#Job-box .right-box,
#Interests-box .right-box {
  overflow-y: unset;
}
.hamburger {
  position: absolute !important;
  top: 1.7rem;
  left: 2rem;
}
.right-hamburger {
  position: absolute !important;
  top: 1.7rem;
  right: 2rem;
}
.hamburger .fa-bars {
  color: black;
}
.p-part {
  padding: 0 3rem !important;
}
.left-nav {
  /* position: absolute; */
  left: 0;
  top: 0;
}
.fa-arrow-left {
  color: snow;
  margin: 1rem 1rem;
  position: absolute;
  right: 0;
}
.open {
  width: 45% !important;
}
.Close {
  width: 0 !important;
}

.openNav {
  width: 20% !important;
}
.CloseNav {
  width: 0 !important;
  padding: 0 !important;
}
.fa-arrow-right {
  color: snow;
  position: absolute;
  top: 2rem;
  right: 1rem;
}
.Heading {
  transition: width 0.4s;
}
